@charset "utf-8";
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,600,700);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
table {border-collapse:collapse;border-spacing:0}
body {-webkit-text-size-adjust:none}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:14px;line-height:1.5;font-family:'Nunito Sans', "Malgun Gothic", dotum, gulim, sans-serif;color:#4a4a4a}
a {color:#4a4a4a;text-decoration:none}
a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
fieldset {min-width:100%}
img {vertical-align:top}
.blind {overflow:hidden;position:absolute;width:1px;height:1px;clip:rect(1px, 1px, 1px, 1px)}

/* 레이아웃 */
.wrapper {letter-spacing:-1px}
/*
.inner {position:relative;margin:0 auto;padding:0 8px;box-sizing:border-box}
.inner:after {display:table;table-layout:fixed;clear:both;content:""}*/
.header {position:relative;z-index:10;padding:0 56px;width:100%;height:52px;box-sizing:border-box;box-shadow:0 1px 5px 0 rgba(0, 0, 0, 0.5);font-size:16px;text-align:center}
.header .logo {display:inline-block;vertical-align:top}
.header .logo a {display:block;padding:13px}
.header .logo a:before {display:block;width:163px;height:26px;background:url('../assets/images/logo.png') no-repeat;background-size:163px 26px;content:""}
.header .tit {padding:14px 0;font-size:16px;line-height:24px}
.header .btn_back {position:absolute;top:0;left:0;padding:14px 16px}
.header .btn_back:before {display:block;width:24px;height:24px;background:url('../assets/images/ico_arrow.png') 0 0 no-repeat;background-size:48px 24px;content:""}
.header .btns {position:absolute;top:8px;right:10px}
.header .btn_close {position:absolute;top:0;right:0;padding:14px 16px}
.header .btn_close:before {display:block;width:24px;height:24px;background:url('../assets/images/ico_x.png') no-repeat;background-size:24px 24px;content:""}
.header .btn_menu {position:absolute;top:0;left:0;padding:14px 16px}
.header .btn_menu:before {display:block;width:24px;height:24px;background:url('../assets/images/ico_menu.png') no-repeat;background-size:24px 24px;content:""}
.header .wrap_menu {position:fixed;top:0;left:0;width:100%;height:0;z-index:10;background:rgba(15, 36, 56, 0);transition:height 10ms, background .1s;transition-delay:.4s, .2s}
.header .wrap_menu .gnb {position:relative;left:0;width:80%;height:100%;background:#fff;transform:translate3d(-100%,0,0);opacity:0;transition:transform .4s}
.header .wrap_menu .btn_close {display:none}
.header .wrap_menu .btn_close:before {background-image:url('../assets/images/ico_close2.png')}
.header .wrap_menu.on {height:100%;background:rgba(15, 36, 56, .8);transition-delay:1ms}
.header .wrap_menu.on .gnb {transform:translate3d(0,0,0);opacity:1}
.header .wrap_menu.on .btn_close {display:block}

.header.type2 {color:#fff;background:#00a2e1;}
.header.type2 .btn_close:before {background-image:url('../assets/images/ico_close2.png')}

.gnb .txt_logo a {display:block;width:163px;padding:13px}
.gnb .txt_logo a:before {display:block;width:163px;height:26px;background:url('../assets/images/logo.png') no-repeat;background-size:163px 26px;content:""}
.gnb .service_menu {border-top:8px solid #f6f6f6}
.gnb .service_menu:after {display:table;table-layout:fixed;clear:both;content:""}
.gnb .service_menu li {float:left;width:50%}
.gnb .service_menu .link {display:block;height:48px;font-weight:bold;font-size:16px;line-height:48px}
.gnb .service_menu .link:before {display:inline-block;margin:12px 4px 0 0;width:24px;height:24px;vertical-align:top;background-size:24px 24px;content:""}
.gnb .service_menu .home {border-right:1px solid #f6f6f6}
.gnb .service_menu .home:before {background-image:url('../assets/images/ico_home.png')}
.gnb .service_menu .store:before {background-image:url('../assets/images/ico_store.png')}
.gnb .my_info {border-top:8px solid #f6f6f6;position:relative;padding:16px 32px;height:104px;box-sizing:border-box;background:#02455f}
.gnb .my_info .photo_member {overflow:hidden;float:left;width:72px;height:72px;border-radius:50%;background:url('../assets/images/thumb_my.png') no-repeat;background-size:72px 72px}
.gnb .my_info .cont_member {overflow:hidden;height:72px;padding:14px 24px 0;box-sizing:border-box;color:#fff}
.gnb .my_info .cont_member .name {display:block;overflow:hidden;font-size:16px;line-height:24px;text-overflow:ellipsis;white-space:nowrap}
.gnb .my_info .cont_member .id {display:block;overflow:hidden;font-family:'Nunito Sans', sans-serif;font-size:12px;line-height:18px;text-overflow:ellipsis;white-space:nowrap}
.gnb .my_info .cont_member .link_edit {position:absolute;top:50%;right:0;z-index:1;margin-top:-24px;padding:12px;width:24px;height:24px}
.gnb .my_info .cont_member .link_edit:before {display:block;;width:24px;height:24px;background:url('../assets/images/ico_setting.png') no-repeat;background-size:24px 24px;content:""}
.gnb .my_menu {border-top:8px solid #f6f6f6;text-align:left}
.gnb .my_menu li {margin:0 16px;border-top:2px solid #f6f6f6}
.gnb .my_menu li:first-child {border-top:0}
.gnb .my_menu a {display:block;padding:16px 16px 14px;font-weight:bold;font-size:16px;line-height:24px}

.header .btn_search {position:absolute;top:0;right:0;padding:14px 16px}
.header .btn_search:before {display:block;width:24px;height:24px;background:url('../assets/images/ico_search.png') no-repeat;background-size:24px 24px;content:""}
.header .wrap_search {overflow:hidden;position:absolute;top:0;left:0;right:0;height:0;background:#fff;opacity:0;transition:height 10ms, opacity .1s}
.header .wrap_search.on {height:52px;opacity:1}
.header .wrap_search .search {padding:0 54px;background:#fff}
.header .wrap_search .search .inp_search {display:block;padding:17px 0;width:100%;height:52px;border:0;box-sizing:border-box;font-size:12px;line-height:18px}
.header .wrap_search .search:before {position:absolute;top:50%;left:16px;margin-top:-12px;width:24px;height:24px;background:url('../assets/images/ico_search.png') no-repeat;background-size:24px 24px;content:""}
.container {padding-bottom:64px}
.footer {padding:40px 0 32px;background:#1b1e21;text-align:center}
.footer .sns_menu {overflow:hidden}
.footer .sns_menu a {display:inline-block;padding:6px;vertical-align:top}
.footer .sns_menu a:before {display:block;width:20px;height:20px;background:url('../assets/images/ico_sns.png') no-repeat;background-size:40px 20px;content:""}
.footer .sns_menu .facebook:before {background-position:0 0}
.footer .sns_menu .instagram:before {background-position:-20px 0}
.footer .etc_menu {overflow:hidden;padding:10px 0 13px;font-family:'Nunito Sans', sans-serif}
.footer .etc_menu a {display:inline-block;padding:5px 9px;color:#fff;font-size:16px;line-height:22px;vertical-align:top}
.footer .copyright {color:#9b9b9b;font-size:12px;letter-spacing:-1px}
.footer .copyright .txt {display:inline-block;padding-right:5px;vertical-align:top}
.footer .copyright a {padding:0 6px;color:#9b9b9b}


/* 타이틀 */
.wrap_title {position:relative;background:#f6f6f6}
.wrap_title .bg {position:absolute;top:0;left:0;right:0;bottom:0;background-repeat:no-repeat;background-position:50% 50%;background-size:cover;content:""}
/* .wrap_title .bg:before {position:absolute;top:0;left:0;right:0;bottom:0;background:#0f2438;opacity:.8;content:""} */
.wrap_title .title {display:table;position:relative;width:100%;height:204px;text-align:center}
.wrap_title .tit_category {display:table-cell;padding:0 70px;color:#fff;font-weight:bold;font-size:24px;line-height:36px;vertical-align:middle}
.wrap_title .tit_category .en {display:block;font-weight:normal;font-size:14px;font-family:'Nunito Sans', sans-serif;line-height:18px}
.wrap_title .tit_category .txt_result {display:block;color:#4a4a4a;font-size:12px;line-height:17px}
.wrap_title .tit_category .keyword {color:#00a2e1}
.wrap_title .btn {position:absolute;top:50%;margin-top:-28px;padding:16px;color:#e0e0e0;font-size:16px;line-height:24px}
.wrap_title .btn:before,
.wrap_title .btn:after {display:inline-block;width:24px;height:24px;vertical-align:top;background:url('../assets/images/ico_arrow.png') no-repeat;background-size:48px 24px}
.wrap_title .btn_prev {left:0}
.wrap_title .btn_prev:before {margin-right:4px;background-position:0 0;content:""}
.wrap_title .btn_next {right:0}
.wrap_title .btn_next:after {margin-left:4px;background-position:-24px 0;content:""}

.sorting {padding:12px 18px;text-align:right;background:#f6f6f6}
.sorting .btn_sort {display:inline-block;margin:0 2px;min-width:76px;height:32px;border:1px solid #e0e0e0;box-sizing:border-box;font-size:14px;line-height:32px;background:#fff;text-align:center;vertical-align:top}
.sorting .btn_sort.on {color:#fff;border-color:#00a2e1;background:#00a2e1}

.order_info {overflow:hidden;padding:12px 16px 10px;border-bottom:1px solid #f6f6f6;box-sizing:border-box;font-weight:bold;font-size:12px;line-height:17px}
.order_info:after {display:table;clear:both;content:"";table-layout:fixed}
.order_info .date {float:left;letter-spacing:0}
.order_info .number {float:right}

.section_title {padding:0 16px;font-weight:bold;font-size:20px;line-height:29px}
.section_title.center {text-align:center}

.tit_comm {padding:16px 16px 8px;font-size:20px;line-height:29px}
.tit_comm .small {display:block;font-family:'Nunito Sans', sans-serif;font-size:16px;line-height:22px;font-weight:normal}
.tit_comm .txt {display:block;padding-top:4px;color:#9b9b9b;font-size:16px;line-height:24px;font-weight:normal}

.btn_like {z-index:1;padding:6px}
.btn_like:before {display:block;width:24px;height:24px;background:url('../assets/images/ico_favor.png') no-repeat;background-size:48px 24px;content:""}
.btn_like.on:before {background-position:-24px 0}

.btn_share {z-index:1;padding:6px}
.btn_share:before {display:block;width:24px;height:24px;background:url('../assets/images/ico_share.png') no-repeat;background-size:24px 24px;content:""}

.btn_comm {display:inline-block;width:100%;height:40px;border-radius:4px;color:#4a4a4a;font-size:14px;font-weight:bold;line-height:40px;vertical-align:top;background:#e0e0e0;text-align:center} 
.btn_comm.primary {color:#fff;background:#00a2e1}
.btn_comm.dark {color:#fff;background:#4a4a4a}
.btn_comm.orange {color:#fff;background:#f9a11b}
.btn_comm.gray {background:#e0e0e0}

.wrap_btn {overflow:hidden;padding:0 16px}
.wrap_btn .btn_comm {width:100%}


.wrap_category {overflow:hidden;padding-left:16px;height:40px;background:#fff}
.wrap_category .category {text-align:center}
.wrap_category .category:after {display:table;clear:both;content:"";table-layout:fixed}
.wrap_category .category li {float:left;margin-right:10px;width:auto}
.wrap_category .category .link_cate {display:block;overflow:hidden;height:40px;padding:12px 5px 6px;border-bottom:2px solid transparent;box-sizing:border-box;font-size:14px;line-height:20px;text-decoration:none}
.wrap_category .category .on .link_cate {border-color:currentColor;color:#00a2e1;font-weight:bold}


.section_list {position:relative}
.section_list .list_comm {padding:8px 12px}
.section_list .list_comm:after {display:table;clear:both;content:"";table-layout:fixed}
.section_list .list_comm li {position:relative;float:left;width:50%;}
.section_list .list_comm .link_box {display:block;margin:8px;box-shadow:0 1px 3px 0 rgba(0, 0, 0, .18)}
.section_list .list_comm .thumb {display:block;overflow:hidden}
.section_list .list_comm .thumb img {width:100%;min-height:134px}
.section_list .list_comm .cont {display:block;padding:8px 8px 6px;height:62px;box-sizing:border-box;font-size:12px;line-height:16px;background:#fff}
.section_list .list_comm .cont .tit {display:block;overflow:hidden;font-family:'Nunito Sans', sans-serif;text-overflow:ellipsis;white-space:nowrap}
.section_list .list_comm .cont .txt {display:block;overflow:hidden;font-family:'Nunito Sans', sans-serif;text-overflow:ellipsis;white-space:nowrap}
.section_list .list_comm .cont .price {display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.section_list .list_comm .btn_like {position:absolute;top:8px;right:8px}
.section_list .link_more {position:absolute;top:8px;right:0;padding:16px;color:#00a2e1;font-weight:bold;font-size:14px;line-height:20px}
.section_list .swiper-container {padding:0 12px}
.section_list .swiper-container .list_comm {padding:0}


.step {overflow:hidden;padding-bottom:12px;text-align:center}
.step li {display:inline-block;padding-top:14px;font-size:14px;line-height:24px;vertical-align:top}
.step li:not(:first-child):before {display:inline-block;width:24px;height:24px;vertical-align:top;background:url('../assets/images/ico_step.png') no-repeat;background-size:24px 24px;content:""}
.step .on {color:#00a2e1;font-weight:bold}

.link_origin {display:block;margin-top:10px;padding:6px;height:47px;border:1px solid currentColor;box-sizing:border-box;color:#00a2e1;font-size:14px;font-weight:bold;line-height:24px;text-align:center}
.link_origin:before {display:inline-block;margin-right:4px;width:24px;height:24px;background:url('../assets/images/ico_link.png') no-repeat;background-size:24px 24px;vertical-align:top;content:""}
.link_origin .url {display:block;margin-top:-4px;font-family:'Nunito Sans', sans-serif;font-weight:normal;font-size:12px;line-height:16px}


.section_pay {padding:12px 16px 0;background:#f6f6f6}
.section_pay .inner {margin-bottom:16px;border:1px solid #e0e0e0;background:#fff}
.section_pay .details {position:relative;padding:16px}
.section_pay .details .photo {float:left}
.section_pay .details .info {overflow:hidden;position:relative;padding-left:16px;height:80px}
.section_pay .details .info .txt {display:block;overflow:hidden;font-family:'Nunito Sans', sans-serif;font-size:12px;line-height:16px;text-overflow:ellipsis;white-space:nowrap}
.section_pay .details .info .tit {display:block;overflow:hidden;font-weight:bold;font-size:18px;font-family:'Nunito Sans', sans-serif;line-height:24px;text-overflow:ellipsis;white-space:nowrap}
.section_pay .details .info .price {display:block;font-size:14px;line-height:19px;text-overflow:ellipsis;white-space:nowrap}
.section_pay .details .quantity {padding-top:4px;font-size:12px;line-height:18px}
.section_pay .options {padding-top:6px}
.section_pay .options li {padding-top:10px;font-size:14px;line-height:20px} 
.section_pay .options .tit_option {display:inline-block;width:96px;vertical-align:top}
.section_pay .cont_pay {margin:0 10px;padding:20px 6px;border-top:1px solid #f6f6f6}
.section_pay .cont_pay .tit_pay {display:block;padding-bottom:12px;font-size:16px;line-height:24px}


.item_input {overflow:hidden;margin-top:16px;min-height:24px}
.item_input .tit {font-weight:normal;font-size:14px;line-height:20px}
.item_input .tf {overflow:hidden;position:relative;font-size:14px;line-height:32px}
.item_input .tf .inp {display:block;width:100%;height:32px;margin-top:8px;padding:8px;border:0;border-radius:4px;box-sizing:border-box;font-weight:bold;font-size:14px;text-align:left;background:#f6f6f6}
.item_input .tf .btn_comm {position:absolute;top:8px;right:0;height:32px;font-size:12px;line-height:32px}
.item_input .tf textarea.inp {overflow:hidden;min-height:56px} 
.item_input .tf.password,
.item_input .tf.memo,
.item_input .tf.address {width:100%}
.item_input .tf.email {width:calc(50% + 66px)}
.item_input .tf.unipass {width:calc(50% + 66px);padding-right:66px}
.item_input .tf.unipass .btn_comm {width:58px}
.item_input .tf.phone {padding-right:66px}
.item_input .tf.phone .btn_comm {width:58px}
.item_input .tf.search {width:30%;padding-right:88px}
.item_input .tf.search .btn_comm {width:80px}
.item_input + .btn_comm {margin-top:16px}

/* 페이징 */
.paging {padding:30px 0;text-align:center}
.paging .link_page {display:inline-block;margin:0 1px;padding:5px 0;width:28px;height:28px;border:1px solid #e0e0e0;box-sizing:border-box;font-weight:bold;font-size:14px;line-height:18px;vertical-align:top;background:#fff}
.paging .link_page.on {color:#fff;border-color:#00a2e1;background:#00a2e1}
.paging .elipsis {display:inline-block;width:28px;height:4px;margin:12px 12px 0 18px;vertical-align:top;background:url('../assets/images/ico_elipsis.png') no-repeat;background-size:20px 5px;content:""}
.paging button:before {display:inline-block;width:6px;height:6px;vertical-align:1px;transform:rotate(45deg);content:""}
.paging .btn_prev:before {margin-left:3px;border-bottom:solid 2px #9b9b9b;border-left:solid 2px #9b9b9b;}
.paging .btn_next:before {margin-right:3px;border-top:solid 2px #9b9b9b;border-right:solid 2px #9b9b9b;}