@charset "utf-8";

.section_rank {padding:16px 0 36px;background:#f6f6f6}
.section_category {padding-top:24px;border-bottom:56px solid #f6f6f6}
.section_category .list_category {border-top:1px solid #e0e0e0;text-align:center}
.section_category .list_category:after {display:table;clear:both;content:"";table-layout:fixed}
.section_category .list_category li {float:left;width:33.33%}
.section_category .list_category .link_box {display:block;overflow:hidden;padding:0 5px;height:40px;border-bottom:1px solid #e0e0e0;border-right:1px solid #e0e0e0;box-sizing:border-box;font-size:14px;line-height:38px}
.section_category .list_category li:nth-child(3n) .link_box {border-right:0}
.section_category .list_category .on .link_box {color:#fff;background:#00a2e1}


/* 상품 상세 */
.detail_view {background:#f6f6f6}
.header_detail {height:52px;text-align:center;background:#fff}
.header_detail h2 {padding:14px 0;font-size:16px;line-height:24px}
.section_detail {background:#fff}
.section_detail .product_photo {overflow:hidden}
.section_detail .product_photo img {width:100%;min-height:284px}
.section_detail .product_photo .swiper-pagination {bottom:15px}
.section_detail .info {overflow:hidden;padding:16px 16px 32px}
.section_detail .cont {padding-bottom:20px;font-weight:bold}
.section_detail .cont .txt {display:block;overflow:hidden;font-family:'Nunito Sans', sans-serif;font-size:18px;line-height:24px;text-overflow:ellipsis;white-space:nowrap}
.section_detail .cont .tit {display:block;overflow:hidden;max-height:162px;font-family:'Nunito Sans', sans-serif;font-size:26px;line-height:35px}
.section_detail .cont .price {display:block;font-size:22px;line-height:30px;text-overflow:ellipsis;white-space:nowrap}
.section_detail .txt_info {padding-bottom:6px;font-size:14px;line-height:18px}
.section_detail .txt_desc {overflow:hidden;padding-top:16px;max-height:180px;box-sizing:border-box;font-size:14px;line-height:18px;word-break:break-all}

.section_help .list_help {margin:0 16px;background:#fff}
.section_help .list_help li {border-top:1px solid #f6f6f6}
.section_help .list_help li:first-child {border-top:0}
.section_help .list_help .summary {overflow:hidden;position:relative;padding:16px;font-size:14px}
.section_help .list_help .summary .tit {display:block;overflow:hidden;width:100%;padding-bottom:6px;text-overflow:ellipsis;white-space:nowrap;font-weight:normal}
.section_help .list_help .summary .tit.lock:before {display:inline-block;margin-right:4px;width:16px;height:16px;vertical-align:top;background:url('../assets/images/ico_lock.png') no-repeat;background-size:16px 16px;content:""}

.section_help .list_help .summary .status {float:left;width:30%}
.section_help .list_help .summary .status.answer {color:#00a2e1;font-weight:bold}
.section_help .list_help .summary .name {overflow:hidden;float:left;width:25%;color:#9b9b9b;text-overflow:ellipsis;white-space:nowrap}
.section_help .list_help .summary .date {float:left;width:45%;color:#9b9b9b}
.section_help .list_help .summary .btn_open {position:absolute;top:0;left:0;width:100%;height:100%}
.section_help .list_help .text {display:none;padding:0 22px;border-top:1px solid #f6f6f6;text-align:left}
.section_help .list_help .text .question {padding:16px 0}
.section_help .list_help .text .answer {padding-bottom:16px}
.section_help .list_help .text .answer:before {display:inline-block;padding-right:14px;vertical-align:top;font-weight:bold;content:"ㄴRE :메종 테일러"}
.section_help .list_help .text.open {display:block}
.section_refund {padding:24px 0 80px}
.section_refund .txt_info {padding:10px 16px 0;font-size:14px;line-height:20px}

.detail_view .wrap_btn {position:fixed;bottom:0;left:0;right:0;z-index:1}
.detail_view .wrap_btn .btn_comm {float:left;width:50%;border-radius:0}