@charset "utf-8";


.wrap_category {overflow:hidden;padding:0 16px;height:40px;background:#f6f6f6}
.wrap_category .category:after {display:table;clear:both;content:"";table-layout:fixed}
.wrap_category .category li {margin-right:10px;width:auto}
.wrap_category .category .link_cate {display:block;height:40px;padding:12px 5px 6px;border-bottom:2px solid #f6f6f6;box-sizing:border-box;font-size:14px;line-height:20px;text-decoration:none}
.wrap_category .category .on .link_cate {border-color:currentColor;color:#00a2e1}

.section_rank {padding:16px 0 36px;background:#f6f6f6}
.section_rank .swiper-container {padding:0 16px}
.section_rank .list_rank {counter-reset:rank}
.section_rank .list_rank:after {display:table;clear:both;content:"";table-layout:fixed}
.section_rank .list_rank li {float:left;width:33.33%}
.section_rank .list_rank .link_box {display:block;position:relative;margin:8px 4px}
.section_rank .list_rank .link_box:before {position:absolute;top:0;left:0;width:32px;height:32px;color:#fff;font-style:italic;font-size:16px;line-height:32px;text-align:center;background:rgba(0, 162, 225, 0.8);counter-increment:rank;content:counter(rank)}
.section_rank .list_rank .thumb {display:block}
.section_rank .list_rank .thumb img {width:100%;min-height:195px}
.section_rank .list_rank .cont {position:absolute;left:0;bottom:0;padding:5px;width:100%;height:64px;box-sizing:border-box;color:#fff;font-size:12px;line-height:17px}
.section_rank .list_rank .cont .tit {display:block;overflow:hidden;font-size:14px;font-family:'Nunito Sans', sans-serif;line-height:19px;text-overflow:ellipsis;white-space:nowrap}
.section_rank .list_rank .cont .txt {display:block;overflow:hidden;font-family:'Nunito Sans', sans-serif;text-overflow:ellipsis;white-space:nowrap}
.section_rank .list_rank .cont .price {display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}

.section_category {padding-top:24px;border-bottom:56px solid #f6f6f6}
.section_category .list_category {border-top:1px solid #e0e0e0;text-align:center}
.section_category .list_category:after {display:table;clear:both;content:"";table-layout:fixed}
.section_category .list_category li {float:left;width:33.33%}
.section_category .list_category .link_box {display:block;overflow:hidden;padding:0 5px;height:40px;border-bottom:1px solid #e0e0e0;border-right:1px solid #e0e0e0;box-sizing:border-box;font-size:14px;line-height:38px}
.section_category .list_category li:nth-child(3n) .link_box {border-right:0}
.section_category .list_category .on .link_box {color:#fff;background:#00a2e1}


/* 상품 상세 */
.detail_view {background:#f6f6f6}
.header_detail {height:52px;text-align:center;background:#fff}
.header_detail h2 {padding:14px 0;font-size:16px;line-height:24px}
.section_detail {background:#fff}
.section_detail .product_photo {overflow:hidden}
.section_detail .product_photo img {width:100%;min-height:284px}
.section_detail .product_photo .swiper-pagination {bottom:15px}
.section_detail .info {overflow:hidden;padding:16px 16px 32px}
.section_detail .cont {padding-bottom:20px;font-weight:bold}
.section_detail .cont .txt {display:block;overflow:hidden;font-family:'Nunito Sans', sans-serif;font-size:18px;line-height:24px;text-overflow:ellipsis;white-space:nowrap}
.section_detail .cont .tit {display:block;overflow:hidden;max-height:162px;font-family:'Nunito Sans', sans-serif;font-size:26px;line-height:35px}
.section_detail .cont .price {display:block;font-size:22px;line-height:30px;text-overflow:ellipsis;white-space:nowrap}
.section_detail .txt_info {font-size:14px;line-height:18px}
.section_detail .txt_desc {overflow:hidden;padding-top:16px;max-height:180px;box-sizing:border-box;font-size:14px;line-height:18px;word-break:break-all}
.section_detail .link_origin {display:block;margin-top:14px;padding:6px;height:47px;border:1px solid currentColor;box-sizing:border-box;color:#00a2e1;font-size:14px;font-weight:bold;line-height:24px;text-align:center}
.section_detail .link_origin:before {display:inline-block;margin-right:4px;width:24px;height:24px;background:url('../assets/images/ico_link.png') no-repeat;background-size:24px 24px;vertical-align:top;content:""}
.section_detail .link_origin .url {display:block;margin-top:-4px;font-family:'Nunito Sans', sans-serif;font-weight:normal;font-size:12px;line-height:16px}

.section_help .list_help {margin:0 16px;background:#fff}
.section_help .list_help li {border-top:1px solid #f6f6f6}
.section_help .list_help li:first-child {border-top:0}
.section_help .list_help .summary {overflow:hidden;position:relative;padding:16px;font-size:14px}
.section_help .list_help .summary .tit {display:block;overflow:hidden;width:100%;padding-bottom:6px;text-overflow:ellipsis;white-space:nowrap;font-weight:normal}
.section_help .list_help .summary .tit.lock:before {display:inline-block;margin-right:4px;width:16px;height:16px;vertical-align:top;background:url('../assets/images/ico_lock.png') no-repeat;background-size:16px 16px;content:""}

.section_help .list_help .summary .status {float:left;width:30%}
.section_help .list_help .summary .status.answer {color:#00a2e1;font-weight:bold}
.section_help .list_help .summary .name {overflow:hidden;float:left;width:25%;color:#9b9b9b;text-overflow:ellipsis;white-space:nowrap}
.section_help .list_help .summary .date {float:left;width:45%;color:#9b9b9b}
.section_help .list_help .summary .btn_open {position:absolute;top:0;left:0;width:100%;height:100%}
.section_help .list_help .text {display:none;padding:0 22px;border-top:1px solid #f6f6f6;text-align:left}
.section_help .list_help .text .question {padding:16px 0}
.section_help .list_help .text .answer {padding-bottom:16px}
.section_help .list_help .text .answer:before {display:inline-block;padding-right:14px;vertical-align:top;font-weight:bold;content:"ㄴRE :메종 테일러"}
.section_help .list_help .text.open {display:block}
.section_refund {padding:24px 0 80px}
.section_refund .txt_info {padding:10px 16px 0;font-size:14px;line-height:20px}

.detail_view .wrap_btn {position:fixed;bottom:0;left:0;right:0;z-index:1}
.detail_view .wrap_btn .btn_comm {float:left;width:50%;border-radius:0}